.destionation-ares{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
.dis-search{
    background-color: rgb(244, 244, 244);
    border: .5rem;
}

.page-header{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(98, 97, 97, 0.18), rgba(121, 119, 119, 0.169)), url(./z1.jpg);
}

